<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Niekopce </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" /> <!-- TODO: Analogicznie -->
        <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.css"></script>


    <script type="text/javascript">
        var currentTime;
        var pastTime;
        var timeDiff;
        var timePast;
        $(document).ready(function () {
            $('#gituwaButton').click(function () {
                $("#logoutPopUp").dialog({
                    title: "AAAAAAA",
                    width: 645,
                    height: 300,
                    modal: true,
                    buttons: {
                        OK:
                            function () {

                                $(this).dialog('close');
                            }
                    }
                });
                $('#kekke').click(function () {
                    $(this).dialog('close');
                })
            })
        })
    </script>

</head>
<body onload="startTime()">
Zalogowany jako
<tr th:text="${username}" />
<h1 class="h1">Witaj na stronie głównej Niekopce</h1>

<div class="parent">
    <input type="button" id="gituwaButton" class="button" value="Gituwa button" onclick="registerBtnFunction()">
    <a href="/user/addUser" class="button">Zarejestruj się</a>
    <a href="/login" class="button">Zaloguj się</a> <!-- TODO: 1.ZAPYTANIE AJAXOWE PRZERZUCAJĄCE DO LOGOWANIA -->
</div>
<div id="txt"></div>



</body >
</html>