
.h1 {
    color: chartreuse;
    text-align: center;
}

/* Sekcja paska navigacji */
.navbar-brand-custom {
    font-size: 24px;
}
.navbar-custom {
    background-color: #00AB44;
}
.navbar-nav {
    flex-direction: row;
}
.navbar-container li{
    margin: 0px 10px;
    font-size: 16px;
    color: #F8F6FA !important;
}
.btn-register {
    background-color: #F8F6FA;
    border-color: #F8F6FA;
    color: #00AB44;
}
.btn-register:hover{
    background-color: #00AB44;
    border-color: #F8F6FA;
    color: #F8F6FA;
    transition-duration: 0.15s;
}
.btn-login {
    background-color: #00AB44;
    border-color: #F8F6FA;
    color: #F8F6FA;
}
.btn-login:hover {
    background-color: #F8F6FA;
    border-color: #F8F6FA;
    color: #00AB44;
    transition-duration: 0.15s;
}

.button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}

.smallButton {
    background-color: #0066ff;
    color: white;
    text-align: center;
    border: none;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}

.CustomTH {  <!-- TODO Poprawić nazwę -->
    padding: 8px 8px;
}

.PopUpLabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}
.PopUpInput {
    display: inline-block;
    float: left;
}

.CustomInput {
   margin-left: 70px;
   margin-right: 70px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datareciever{
    position: absolute;
    left: 37%;
    margin-top: 50px;
}