
.h1 {
    color: chartreuse;
    text-align: center;
}

/* Navigation bar section */
.navbar-brand-custom {
    font-size: 24px;
    color: #F3FBF3;
}
.navbar-brand-custom:hover {
    color: #F3FBF3;
}
.navbar-custom {
    background-color: #00AB44;
    box-sizing: border-box;
    height: 3rem;
    border-top: 2pt solid #D9F9DA;
    padding-top: 0;
}
.navbar-nav {
    flex-direction: row;
}
.navbar-container a.nav-link{
    margin: 0px 1rem 0 0;
    font-size: 1em;
    color: rgba(243, 251, 243, 0.8);
}
.navbar-container a.nav-link:hover{
    color: #F3FBF3;
    transition: all 0.15s ease 0s;
}
.nav-active {
    color: #F3FBF3 !important;
    font-weight: 600;
}
.btn-register {
    background-color: #F3FBF3;
    border-color: #F3FBF3;
    color: #00AB44;
}
.btn-register:hover{
    background-color: #F3FBF3;
    border-color: #F3FBF3;
    color: #00AB44;
    border-radius: 15px;
    transition: all 0.2s ease 0s;
}
.btn-register:focus {
    background-color: #F3FBF3 !important;
    border-color: #F3FBF3 !important;
    color: #00AB44 !important;
    box-shadow: 0 0 0.5em rgba(0, 47, 0, 0.85) !important;
}
.btn-login {
    background-color: #00AB44;
    border-color: #F3FBF3;
    color: #F3FBF3;
}
.btn-login:hover {
    background-color: #00AB44;
    border-color: #F3FBF3;
    color: #F3FBF3;
    border-radius: 15px;
    transition: all 0.2s ease 0s;
}
.btn-login:focus {
    background-color: #00AB44 !important;
    border-color: #F3FBF3 !important;
    box-shadow: 0 0 0.5em rgba(0, 47, 0, 0.85) !important;
}
.nav-buttons {
    margin: 0 2rem 0 1rem;
}
.nav-buttons button{
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    vertical-align: center;
}

/* Dropdown Login form settins */
.nav-dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    border: rgba(152, 152, 152, 0.53) solid 0.25pt;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 0 0.25em rgba(152, 152, 152, 0.64);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content .btn {
    margin: 0 auto;
    background-color: #00AB44;
    border-color: #00AB44;
    color: #F3FBF3;
}
.dropdown-content .btn:hover {
    background-color: #00AB44;
    border-color: #00AB44;
    color: #F3FBF3;
    border-radius: 15px;
    transition: all 0.2s ease 0s;
}
.dropdown-content .btn:focus {
    background-color: #00AB44 !important;
    border-color: #00AB44 !important;
    box-shadow: 0 0 0.5em rgba(0, 47, 0, 0.85) !important;
}
.show {
    display: block;
}
/* End navigation bar section */

.button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}

.smallButton {
    background-color: #0066ff;
    color: white;
    text-align: center;
    border: none;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}

.CustomTH {  <!-- TODO Poprawić nazwę -->
    padding: 8px 8px;
}

.PopUpLabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}
.PopUpInput {
    display: inline-block;
    float: left;
    position: center;
}

.PopUpInput2 {
    display: block;
    float: left;
}

.CustomInput {
   margin-left: 70px;
   margin-right: 70px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datareciever{
    position: absolute;
    left: 37%;
    margin-top: 50px;
}

/*   TABLE */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* MODAL */
/* The Modal (background) */
.MyMOmodaal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modaAAl-content {

    background-color: #4CAF50;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2px;
    border: 1px solid;
    width: 45%; /* Could be more or less, depending on screen size */
}

.modDal-header{
    background-color:#4CAF50;
    height: 100%; /* Full height */
}

.modal-boOdy{
    background-color:#FFFFFF;
    height: 100%; /* Full height */
    position: center    ;
}

.modal-fOOter{
    background-color:#FFFFFF;
    height: 100%; /* Full height */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.customH4{
    font-size: 25px;
}