
.h1 {
    color: chartreuse;
    text-align: center;

}

.button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}

.smallButton {
    background-color: #0066ff;
    color: white;
    text-align: center;
    border: none;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 16px;
    margin: 8px 4px;
    display: inline-block;
    cursor: pointer;
}



.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datareciever{
    position: absolute;
    left: 37%;
    margin-top: 50px;
}